<div class="container">
    <div class="row">
        <span class="text-center">
            <h2>Stock Market Dashboard</h2>
        </span>
    </div>
    <form #dashboardForm="ngForm">
        <div class="mt-10" style="display: flex">
            <label for="exampleFormControlSelect1">Select Company</label>
            <select ngModel (ngModelChange)="codeChanged($event)" name="company-selector"
                style="width: 200px;margin-left: 5px;" aria-label="Default select example">
                <option selected disabled>Select Company</option>
                <option *ngFor="let item of companiesDetails" [ngValue]="item.companyCode">{{item.companyCode}}</option>
            </select>
        </div>
        <div class="row mt-10">
            <div class="col-sm">
                <span class="fw-normal">Company Code</span>
            </div>
            <div class="col-sm">
                <span class="fw-bold">{{companyCode | uppercase}}</span>
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-sm">
                <span class="fw-normal">Company Name</span>
            </div>
            <div class="col-sm">
                <span class="fw-bold">{{companyName | uppercase}}</span>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col-sm">
                <span class="fw-normal">From</span>
            </div>
            <div class="col-sm">
                <input type="date" name="start-date" [(ngModel)]="startDate">
            </div>
            <div class="col-sm">
                <span class="fw-normal">To</span>
            </div>
            <div class="col-sm">
                <input type="date" name="end-date" [(ngModel)]="endDate">
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-dark" (click)="fetchStockDetails()">Search</button>
            </div>
        </div>

        <div *ngIf="flag; else otherpart" class="alert alert-warning mt-15">
            <strong>No Data available for given search criteria</strong>
        </div>

        <ng-template #otherpart>
            <div class="row mt-15 row-margin-5 " *ngIf = "stockPrices && stockPrices.length > 0">
                <table class="table table-striped cust-table">
                    <thead>
                        <tr>
                            <th scope="col">Price</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of stockPrices">
                            <td>{{item.stockPrice}}</td>
                            <td>{{item.createdTimestamp | date}}</td>
                            <td>{{item.createdTimestamp | date: 'mediumTime'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row mt-10 mb-10" *ngIf = "stockPrices && stockPrices.length > 0">
                <table class="table table-striped table-center">
                    <tbody>
                        <tr>
                            <td class="text-center">MIN</td>
                            <td class="text-center fw-bold">{{stockAnalysis?.minPrice}}</td>
                        </tr>
                        <tr>
                            <td class="text-center">MAX</td>
                            <td class="text-center fw-bold">{{stockAnalysis?.maxPrice}}</td>
                        </tr>
                        <tr>
                            <td class="text-center">AVG</td>
                            <td class="text-center fw-bold">{{stockAnalysis?.averagePrice}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </form>
</div>